* {
  margin: 0;
  padding: 0;
}

.chart-container {
  display: flex;
}

.pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  background-color: #f9f9f9;
}

.donut-chart {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
