h4 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 5rem;
}

.full-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 5rem;
  margin-bottom: 4rem;
  /* outline: 1px solid red; */
}

.inner-right-container {
  display: flex; 
  flex-direction: column;
  position: relative;
  border-right: 2px solid #d5d5d5;
  border-left: 2px solid #d5d5d5;
  border-bottom: 2px solid #d5d5d5;
  padding: 1rem;
}

.inner-left-container {
  span {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
  border: 2px solid red;
}
.inner-left-container-details {
}

.dinasour-img {
  /* width: 400px; */
  width: 100%;
  height: 220px;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
}

.section-label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 18rem;
  display: flex;
  justify-content: center;
  background-color: #edfafa;
  border-radius: 5px;
  color: #008080;
  position: relative;
  top: -2rem;
  left: -0.55rem;
}

#detailsBorderTop {
  content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	width: 52.5%;
	border-top: 2px solid #008080;
}

.save-btn {
  width: 6rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  background-color: #008080;
  border: none;
}

.save-btn:hover {
  background-color: #2D9596;
}

@media(max-width: 768px) {
  body, html {
    overflow-x: hidden;
  }

  .full-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  .inner-left-container {
    width: 100%;
    margin-top: 3rem;
  }

  inner-left-container-img {
    width: 100%;
  }

  .dinasour-img {
    object-fit: cover;
  }

  .section-label {
    font-size: 1rem;
  }
  
  .inner-right-container {
    margin-top: 4rem;
  }

  #detailsBorderTop {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 10.5%;
    border-top: 2px solid #008080;
  }
}
