.lengthSlider {
	width: 100px;
}

.weightSlider {
	width: 100px;
}

.sliderBox {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	margin: 0 5px;
}

#searchBar {
	/* margin-left: 0.2rem; */
	/* margin: auto; */
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
}

#searchBtn {
	cursor: pointer;
	background: #2D9596;
	color: white;
}

#searchBtn:hover {
	background: #DFF5FF;
	color: #008080;
}

.findAllDino {
	font-family: sans-serif;
}

#dino-intro {
	width: 1010px;
}

#dino {
	color: #008080;
}

@media(max-width: 768px) {
	/* #searchBar {
		width: 100%;
		margin: auto;
	} */
}


