.lengthSlider {
	width: 100px;
}

.weightSlider {
	width: 100px;
}

.sliderBox {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	margin: 0 5px;
}

#searchBar {
	margin-left: 0.2rem;
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
	padding: 0.5rem;
}

#searchBtn {
	cursor: pointer;
	background: #2D9596;
	color: white;
}

#searchBtn:hover {
	background: #DFF5FF;
	color: #2D9596;
}


